.App {
  width: 100vw;
  height: 100vh;
}

.heading {
  height: 80px;
  background-color: #1C1E21;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heading .solvusLogo {
  margin: 5px;
}

.display {
  position: absolute;
  top: 80px;
  width: 100%;
  bottom: 0;

}
